$lat-lt: "lato-light";
$lat-th: "lato-thin";
$lat-reg: "lato-regular";
$lat-bld: "lato-bold";
$rob-lt: "RobotoSlab-Light";
$rob-th: "RobotoSlab-Thin";
$rob-reg: "RobotoSlab-Regular";
$rob-bld: "RobotoSlab-Bold";
// font variables end
// color variables start
$cblue: #69b8f3;
$corange: #fa863a;
$cblack: #2c2c2c;
$cgray: #4f4f4f;
$cwhite: #fff;
// color variables end